@import "../../scss/variables.scss";
@import "../../scss/mixins/mixins.scss";

.box {
	@include flex-all-center;
}

.todo-input {
	width: 50%;
	font-family: "SFProDisplay";
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 1.2;
	color: $whiteColor;
	background: linear-gradient(
		98.13deg,
		rgba(255, 255, 255, 0.28) 0%,
		rgba(255, 255, 255, 0.11) 100%
	);
	box-shadow: 0px 4px 8px -1px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	padding: 0 10px;
	margin-right: 10px;
	outline: transparent;
	&::placeholder {
		color: #d8d8d8;
	}
}

.btn {
	width: 42px;
	height: 42px;
	background-color: $bgBtn;
	border: none;
	border-radius: 50%;
	background-image: url("../../assets/images/add-todo.svg");
	background-repeat: no-repeat;
	background-position: center;
	// background-size: cover;
	cursor: pointer;
	outline: transparent;
}
